// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// CSS for home page
.cent {
    text-align: center;
}

.time {
    font-size: 25px; 
    font-weight: bold;
}

.risk {
    font-size: 20px; 
    font-weight: bold;
}