<div class="vert-form">
    <div class = "col">
    </div>
    
    <div class = "col">
        <div class = "row">
            <p>Monthly necessary expenses: $<%= @expenses %> </p>
        </div>

        <div class = "row">
            <p>Savings: $<%= @savings %></p>
        </div>

        <div class = "row">
            <p>If you lost your job and you couldn’t find a job for <strong><%= @statement%></strong>, you would become homeless based on your necessary expenses and how much you have saved.</p>
        </div>

        <div class="row">
            <%= link_to 'Back', :back, class:"btn btn-light"%>
        </div>
    </div>

    <div class = "col">
    </div>
</div>